/**
 * Fonts
 */

@font-face {
  font-family: 'Feriados';
  src: url('../assets/visuelt-regular.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

/**
 * Global
 */

 html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

 body {
  font: 100%/1.4em Feriados, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #343434;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-rendering: optimizeLegibility;
  letter-spacing: .01em;
}

ul,
ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}

button * {
  pointer-events: none;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

a {
  text-underline-position: under;
}

a:active,
a:hover {
  outline: 0;
}

a img {
  border: none;
}

p, ol, ul {
  line-height: 1.5em;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.313em 0;
  line-height: 1em;
}

h1 {
  font-size: 3.5em; /* 48px */
  margin: 0.67em 0;
}

h2 {
  font-size: 3em; /* 35px */
}

h3 {
  font-size: 1.750em; /* 28px */
}

h4 {
  font-size: 1.313em; /* 21px */
}

h5 {
  font-size: 1.125em; /* 18px */
}

h6 {
  font-size: 1em; /* 16px */
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

[hidden] {
  display: none !important;
}
